:root{
    --blue: #2563eb;
    --black: #171717;
    --white: #f1f5f9;
    --gray: #262626;
  }
  
  
  body {
      
    background-image:url(https://images.unsplash.com/photo-1497384401032-2182d2687715?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUxODE1NDE&ixlib=rb-4.0.3&q=80);
    background-size:100%;
    backdrop-filter: saturate(100%) blur(50px);
    overflow-x:hidden;
    overflow-y:hidden;
    height:100vh;
    margin:0;
  }
  
  
  
  .container {
    width:110%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
    margin:0px;
    padding:0px;
    
  }
  
  .block{
    
    width:40%;
    margin:0px;
    padding:0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
    font-family:sans-serif;
  }
  
  
  
  .plan1{
    margin-bottom: 2vh;
    border: 0;
    border-radius:10px;
    width:100%;
    display:flex;
    background-color:#fffbeb;
    box-shadow:0px 5px 5px rgba(20,20,20,0.5);
    
  }
  
  .desc-1{
    display:block;
    width:67%;
    flex-direction:column;
  }
  
  .desc-1 h3{
    margin:0px;
    padding:0px;
    text-align:left;
  }
  
  .desc-1 p{
    margin:0px;
    padding:0px;
    text-align:left;
  }
  
  .check-1{
    width:16.5%;
    display:block;
    margin-left:0px;
    display: flex;
    
  }
  
  .check-1 svg{
    width:3vh;
    margin-left:3vh;
    margin-top: 0 auto;
    display: block;
    stroke: black;
    fill: #6b7280;
    
  }
  
  
  
  .price1{
    display:flex;
    margin-right:3vh;
    width:16.5%;
    text-align:right;
    position: absolute;
    right: 0;
    
  }
  
  .price1 h3{
    margin-top: 0 auto;
    display: block;
  }
  
  .price1 h3 span{
    color: #404040;
    font-size: 2vh;
  }
  
  
  
  